.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
  }
  .item a {
      color: white;
      text-decoration: none;
  }

  .item a.activeLink {
      color: gold;
  }
  /* .friends {
      color: white;
      font-size: 32px;
      margin-top: 35px;
  } */
